# see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Gradle Java CI
on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - .github/badges/**
      - .git*
      - "*.md"
      - "*.txt"
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - .github/**
      - .git*
      - "*.md"
      - "*.txt"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        include:
          - jdk: '21'

          - jdk: '25'
            artifacts: primary

    steps:

    - name: Checkout
      uses: actions/checkout@v5

    - name: Java Setup
      uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.jdk }}
        distribution: 'temurin'

    - name: Gradle Setup
      uses: gradle/actions/setup-gradle@v4
      with:
        cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

    - name: Build
      run: ./gradlew build

    - name: Upload Binary Artifact
      if: ${{ matrix.artifacts == 'primary' }}
      uses: actions/upload-artifact@v6
      with:
        name: inet-time
        path: ./build/libs/*.jar
        retention-days: 10

    - name: Upload API Documentation Artifact
      if: ${{ matrix.artifacts == 'primary' }}
      uses: actions/upload-artifact@v6
      with:
        name: javadoc
        path: ./build/docs/javadoc
        compression-level: 9
        retention-days: 10

    - name: Code Coverage
      if: ${{ matrix.artifacts == 'primary' }}
      uses: cicirello/jacoco-badge-generator@v2
      with:
        generate-branches-badge: true
        jacoco-csv-file: build/reports/jacoco/test/jacocoTestReport.csv
        intervals: 95, 90, 80, 70, 60, 0
        workflow-summary-heading: Test Coverage Summary
        fail-on-coverage-decrease: true
        fail-on-branches-decrease: true
        coverage-decrease-limit: 95
        branches-decrease-limit: 90

    - name: Upload Reports Artifact
      uses: actions/upload-artifact@v6
      with:
        name: reports${{ (matrix.artifacts != 'primary') && format('-jdk{0}', matrix.jdk) || '' }}
        path: |
          ./build/reports/
          ./.github/badges/**

  update-badges:
    needs: build
    if: github.event_name == 'push' && success()
    runs-on: ubuntu-latest
    continue-on-error: false
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Fetch build reports
        uses: actions/download-artifact@v7
        with:
          name: reports

      - name: Commit badges (if changed)
        run: |
          if [[ `git status --porcelain` ]]; then
            git config --global user.name 'github-actions[bot]'
            git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
            git add .github/badges
            git commit -m "Updated project badges"
            git push
          fi
