# see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Release
on:
  workflow_dispatch:
    inputs:
      release:
        description: Final release, NOT a snapshot?
        type: boolean
        required: false
        default: false
      toMaven:
        description: Publish to Maven Central
        type: boolean
        required: false
        default: true

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    continue-on-error: false
    steps:

    - name: Checkout
      uses: actions/checkout@v5

    - name: Java Setup
      uses: actions/setup-java@v5
      with:
        java-version: '25'
        distribution: 'temurin'

    - name: Gradle Setup
      uses: gradle/actions/setup-gradle@v4
      with:
        cache-read-only: true
        cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

    - name: Build
      run: ./gradlew build
      env:
        ORG_GRADLE_PROJECT_isRelease: ${{ inputs.release }}

    - name: Publish to Maven Central
      if: ${{ inputs.toMaven }}
      run: ./gradlew publishToMavenCentral
      env:
        ORG_GRADLE_PROJECT_isRelease: ${{ inputs.release }}
        ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_USERNAME }}
        ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}
        ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_PRIVATE_KEY }}
